body{
    display: flex;
    flex-direction: column;
    background-image: url(./images/background.jpeg);
    background-size: contain;
    scroll-margin: 20px;
    text-align: center;
    font-family: "grenadine-mvb", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h1{
    font-family: "grenadine-mvb", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.header{
    /* display: absolute; */
    /* width: 1050px; */
    height: 100px;
    background-color: white;
    margin: 10px;
    padding:5px;
    border-radius: 10px;
    grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* .exit{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 20px;
    top:15px;
    left:20px;
    background-color: beige;
    margin: 10px;
    padding:7px;
    border-radius: 50px;
} */

.about{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 40px;
    top:25px;
    left: 30px;
    background-color: beige;
    margin: 10px;
    padding:7px;
    border-radius: 10px;
}
.indexbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width:auto;
    height:auto;
    margin:0 auto;
    padding:5px;
}

.box{
    display: grid;
    /* flex-direction: row; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  /* grid-auto-rows: auto; */
    width:800px;
    height:750px;
    /* border: 1px dotted rgb(119, 150, 119); */
    margin:0 auto;
    padding:5px;
    justify-content: center;
}

#bigcontainer{
    /* position:absolute; */
    display: flex;
    flex-direction: row;
    width:800px;
    height:750px;
    top: 150px;
    padding:5px;
    margin:0 auto;
}

.cards{
    display: inline-flex;
    width: 150px;
    height: 200px;
    top:30%;
    background-color: rgb(214, 205, 176);
    background-image: url(./images/cardsbg.jpeg);
    background-size: cover;
    margin: 10px;
    padding: 5px;
    padding-top: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px gray;
}

.cardcontent-nst.cards{
    text-align: warp;
}


.one{

    border:20px solid rgb(80, 122, 80);
    border-right:20px solid rgb(250,250,250);
    width:240px;
    height:200px;
    background-color: rgb(250,250,250);
    border-radius: 10px;
    box-shadow: 50px gray;
    margin:10px;
    text-align: center;
}

.two{
    border:20px solid rgb(80, 122, 80);
    border-right:20px solid rgb(250,250,250);
    border-left:20px solid rgb(250,250,250);
    width:480px;
    height:200px;
    background-color: rgb(250,250,250);
    border-radius: 5px;
    margin:10px;
    text-align: center;
    /* opacity:0;
    transition:opacity 0.3s ease;
    visibility: hidden; */
}

.three{

    border:20px solid rgb(80, 122, 80);
    border-bottom:20px solid rgb(250,250,250);
    border-left:20px solid rgb(250,250,250);
    width:240px;
    height:200px;
    background-color: rgb(250,250,250);
    border-radius: 5px;
    margin:10px;
    text-align: center;
    /* opacity:0;
    transition:opacity 0.3s ease;
    visibility: hidden; */
}

.four{
    border:20px solid rgb(80, 122, 80);
    border-bottom:20px solid rgb(250,250,250);
    width:240px;
    height:200px;
    background-color: rgb(250,250,250);
    border-radius: 5px;
    margin:10px;
    text-align: center;
    /* opacity:0;
    transition:opacity 0.3s ease;
    visibility: hidden; */
}

.five{
    border:20px solid rgb(250,250,250);
    border-right:20px solid rgb(250,250,250);
    border-left:20px solid rgb(250,250,250);
    width:480px;
    height:200px;
    background-color: rgb(250,250,250);
    border-radius: 5px;
    margin:10px;
    text-align: center;
}

.six{
    border:20px solid rgb(80, 122, 80);
    border-top:20px solid rgb(250,250,250);
    border-bottom:20px solid rgb(250,250,250);
    width:240px;
    height:200px;
    background-color: rgb(250,250,250);
    border-radius: 5px;
    margin:10px;
    text-align: center;
}
.seven{
    border:20px solid rgb(80, 122, 80);
    border-right:20px solid rgb(250,250,250);
    border-top:20px solid rgb(250,250,250);
    width:240px;
    height:200px;
    background-color: rgb(250,250,250);
    border-radius: 5px;
    margin:10px;
    text-align: center;
}
.eight{
    border:20px solid rgb(80, 122, 80);
    border-right:20px solid rgb(250,250,250);
    border-left:20px solid rgb(250,250,250);
    width:480px;
    height:200px;
    background-color: rgb(250,250,250);
    border-radius: 5px;
    margin:10px;
    text-align: center;
}
.nine{
    border:20px solid rgb(80, 122, 80);
    border-top:20px solid rgb(250,250,250);
    border-left:20px solid rgb(250,250,250);
    width:240px;
    height:200px;
    background-color: rgb(250,250,250);
    border-radius: 5px;
    margin:10px;
    text-align: center;
}

.button1, .button2, .button3, .button4, .button5, .button9, .button6, .button7, .button8{
    border: none;
    background-color: rgb(250,250,250);
    color: rgb(0, 0, 0);
    padding: 64px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "grenadine-mvb", sans-serif;
    font-weight: 400;
    font-style: normal;
}
