body{
        background-color: rgb(215, 226, 166);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align:"center";
}

h1   {
        text-align: center;
        color: rgb(95, 157, 224);
}

h3   {
        text-align: center;
        color: rgb(224, 95, 164);
}

p    {
        text-align: center;
        color: rgb(112, 188, 106);
}


main {
        margin: 0 auto;
        width: 500px;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
     }


