body{
        background-color: rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align:"center";
}

h1   {
        text-align: center;
        color: rgb(95, 157, 224);
}

h3   {
        text-align: center;
        color: rgb(224, 95, 164);
}

p    {
        text-align: center;
        color: rgb(112, 188, 106);
}



