 
 body{
    background-color: rgb(255, 255, 255);
    font-family: "glammo", sans-serif;
    font-weight: 400;
    font-style: normal;
 }  

 h1{
    font-size: 70px;
    text-align: center;
    text-shadow: 4px 4px rgb(126, 186, 126);
 }

 h2{
    text-align: center;
    font-size: 50px;
}

 h3{
    text-align: center;
    font-size: 35px;
}


 p{
    text-align: center;
    color:black;
    font-size: 30px;
 }

 main {
    margin: 0 auto;
    width: 800px;
    border: 1px solid rgb(255, 246, 170);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
 }

 #a1, #a2, #a3, #a4, #a5  {
    position: relative;
    margin:5% 20%;
    border: dotted 5px rgb(218, 244, 255);
    height: 400px
}


.a1s1{
    width:100px;
    height: 25px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 10px rgb(122, 122, 122);
    top: 0px;
    left: 60px;
}

.a1s1:hover {
    background-color: rgb(197, 44, 113);
}

.a1s2:nth-child(2) {
    width:100px;
    height: 25px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 10px rgb(122, 122, 122);
    top: 80px;
    left: 140px;
}

.a1s2:nth-child(2):hover {
    background-color: rgb(197, 44, 113);
}

.a1s3:nth-child(3) {
    width:100px;
    height: 25px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 10px rgb(122, 122, 122);
    top: 160px;
    left: 210px;
}

.a1s3:nth-child(3):hover {
    background-color: rgb(197, 44, 113);
}

.a1s4:nth-child(4) {
    width:100px;
    height: 25px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 10px rgb(122, 122, 122);
    top: 240px;
    left: 280px;
}

.a1s4:nth-child(4):hover {
    background-color: rgb(197, 44, 113);
}

.a1s5:nth-child(5) {
    width:100px;
    height: 25px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    box-shadow: 5px 10px rgb(122, 122, 122);
    top: 340px;
    left: 350px;
}
.a1s5:nth-child(5):hover {
    background-color: rgb(197, 44, 113);
}

.a1s6:nth-child(6) {
    width:60px;
    height: 25px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(162, 162, 162);
    box-shadow: 5px 10px rgb(0, 0, 0);
    top: 200px;
    left: 120px;
}
.a1s6:nth-child(6):hover {
    background-color: rgb(197, 44, 113);
}

.a1s7:nth-child(7) {
    width:70px;
    height: 25px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px rgb(122, 122, 122);
    top: 130px;
    left: 10px;
} 


.a1s7:nth-child(7):hover {
    background-color: rgb(197, 44, 113);
}

.a1s8:nth-child(8) {
    width:70px;
    height: 25px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px rgb(122, 122, 122);
    top: 200px;
    left: 10px;
}
.a1s8:nth-child(8):hover {
    background-color: rgb(197, 44, 113);
}

.a1s9:nth-child(9) {
    width:70px;
    height: 25px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px rgb(122, 122, 122);
    top: 56px;
    left: 10px;
}

.a1s9:hover {
    background-color: rgb(197, 44, 113);
}

.a1s10:nth-child(10) {
    width:70px;
    height: 25px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px rgb(122, 122, 122);
    top: 270px;
    left: 10px;
}.a1s10:hover {
    background-color: rgb(197, 44, 113);
}
.a1s11:nth-child(11) {
    width:70px;
    height: 25px;
    border-radius: 10px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 10px rgb(122, 122, 122);
    top: 340px;
    left: 10px;
}

.a1s11:hover {
    background-color: rgb(197, 44, 113);
}


















.a2s1 {
    height: 100px;
    width: 100px;
    background-color: rgb(200, 20, 62);
    border-radius: 50%;
    position: absolute;
    top: 110px;
    left: 270px;
}

.a2s1:hover{
    background-color: blue;
}


.a2s2:nth-child(2) {
    height: 150px;
    width: 150px;
    background-color: rgb(200, 20, 62);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 170px;
} 
/* ---why is the 50% the right top corner */

.a2s2:hover{
    background-color: blue;
}

 

.a2s3:nth-child(3) {
    height: 100px;
    width: 100px;
    background-color: rgb(200, 20, 62);
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    top: 110px;
    left: 120px;
}
.a2s3:hover{
    background-color: blue;
}


.a2s4:nth-child(4) {
    height: 100px;
    width: 100px;
    background-color: rgb(200, 20, 62);
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    top: 180px;
    left: 290px;
}

.a2s4:hover{
    background-color: blue;
}

.a2s5:nth-child(5) {
    height: 100px;
    width: 100px;
    background-color: rgb(200, 20, 62);
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    top: 180px;
    left: 100px;
}

.a2s5:hover{
    background-color: blue;
}


.a2s6:nth-child(6) {
    height: 100px;
    width: 100px;
    background-color: rgb(200, 20, 62);
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    top: 250px;
    left: 80px;
}
.a2s6:hover{
    background-color: blue;
}


.a2s7:nth-child(7) {
    height: 100px;
    width: 100px;
    background-color: rgb(200, 20, 62);
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    top: 250px;
    left: 310px;
}
.a2s7:hover{
    background-color: blue;
}

.a2s8:nth-child(8) {
    height: 80px;
    width: 80px;
    background-color: rgb(200, 20, 62);
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    top: 200px;
    left: 205px;
}
.a2s8:hover{
    background-color: blue;
}


















.a3s1 {
    height: 50px;
    width: 400px;
    background-color: rgb(7, 0, 72);
    opacity: 0.3;
    border-radius: 10px;
    display: inline-block;
    position:absolute;
    top: 50px;
    left: 40px;
}

.a3s2:nth-child(2) {
    height: 300px;
    width: 100px;
    background-color: rgb(7, 0, 72);
    opacity: 0.3;
    border-radius: 10px;
    display: inline-block;
    position:absolute;
    top: 60px;
    left: 320px;
}

.a3s2:hover{
    color: white;
    transform: skew(35deg);
    transition-property: rotate;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 0.5s;
}

.a3s3:nth-child(3) {
    height: 300px;
    width: 100px;
    background-color: rgb(7, 0, 72);
    opacity: 0.3;
    border-radius: 10px;
    display: inline-block;
    position:absolute;
    top: 60px;
    left: 70px;
}

.a3s3:hover{
    color: white;
    transform: skew(-35deg);
    transition-property: rotate;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0.2s;
}

.a3s4:nth-child(4) {
    height: 50px;
    width: 400px;
    background-color: rgb(220, 200, 155);
    opacity: 0.3;
    border-radius: 10px;
    display: inline-block;
    position:absolute;
    top: 150px;
    left: 40px;
}












.a4s1{
    width:70px;
    height: 300px;
    border-radius: 50px 0px 0px 0px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    box-shadow: 50px 10px rgb(0, 0, 255);
    top: 30px;
    left: 80px;
}

.a4s1:hover{
    box-shadow: 50px 10px pink;
}

.a4s2{
    width:70px;
    height: 70px;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    box-shadow: 50px 10px rgb(0, 0, 255);
    top: 30px;
    left: 180px;
}

.a4s3{
    width:70px;
    height: 70px;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    box-shadow: 50px 10px rgb(0, 0, 255);
    top: 130px;
    left: 180px;
}
@keyframes movieSkew {
    0% {
          transform:  translateY(0);  
    }
    50% {
      transform: translateY(50px) skewX(5deg);
    }
    100% {
      transform:translateY(100px) skewY(-10deg);
    }  
  }

.a4s3:hover{
    animation-name: movieSkew;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
    animation-delay: 0s; 
    animation-direction: normal;
}

.a4s4{
    width:70px;
    height: 300px;
    border-radius: 0px 50px 0px 0px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    box-shadow: 50px 10px rgb(0, 0, 255);
    top: 30px;
    left: 300px;
}

.a4s4:hover{
    box-shadow: 50px 10px red;
}










.a5s1{
    width:300px;
    height: 300px;
    border-radius: 200px 200px 50px 50px;
    position: absolute;
    background-color: rgb(140, 0, 255);
    top: 50px;
    left: 100px;
}

.a5s2{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 110px;
    left: 205px;
}

.a5s3{
    width:180px;
    height: 180px;
    border-radius: 50px 50px 0px 0px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 210px;
    left: 160px;
}

@keyframes stretch {
    0% {
      transform: scale(.3);
      background-color: red;
      border-radius: 100%;
    }
    50% {
      background-color: orange;
    }
    100% {
      transform: scale(1);
      background-color: yellow;
    }
  }

.a5s2:hover{
    animation-name: stretch;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
    animation-delay:0s;
    animation-iteration-count: 3;
    animation-direction: normal;    
}
  
