body{
    background-color: rgb(160, 160, 160);
}
    
h1{
    font-size: 40pt;
    text-align: center;
}

h2{
    font-size: 30pt;
    text-align: center;
}

h3{
    font-size: 24pt;
    text-align: center;
}

p{
    font-size: 14pt;
    text-align: left;
}

.articlecontainer {
    position: relative;
    width: 50%;
    height: auto;
    display: flex;
    border: 1px solid #ccc;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 50px;
 }

 #ch1, #ch2, #ch3, #ch4, #ch5, #ch6, #ch7, #ch8, #ch9, #ch10, #ch11, #ch12  {
    position: relative;
    margin:5%;
    height: auto;
}

#image-container {
    position: relative;
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
    flex-direction: column;
  }
  
  img {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    display: none;
  }