body{
    background-color: rgb(234, 230, 227);
    font-family: "ivyjournal", sans-serif;
    font-weight: 400;
    font-style: normal;
}
    
h1{
    font-size: 40pt;
    text-align: center;
    font-family: "ringold-slab", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-size: 30pt;
    text-align: left;
    font-family: "ivyjournal", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3{
    font-size: 24pt;
    text-align: left;
    font-family: "ivyjournal", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p{
    font-size: 12pt;
    text-align: left;
    font-family: "ivyjournal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#header{
    display: grid;
    height: 70px;
    columns: (1fr, 1fr, 1fr);
    align-items: (left, center, right);
    border-bottom: 1px solid black;
    
}

 #container {
    margin: 20px auto;
    width: 70%;
    height: 800px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* border: solid 5px blue; */
    /* padding: 5px; */
 }
#title{
    position: relative;
    display: inline;
    height: 700px;
    /* border: solid 5px beige; */
    justify-content: center;
    /* padding-top:15%; */
}

#ch1, #ch2, #ch3, #ch4, #ch5, #ch6, #ch7, #ch8, #ch9, #ch10, #ch11, #ch12  {
    position: relative;
    display: inline;
    /* overflow-y: scroll; */
    margin:20%;
    margin:20%;
    height: auto;
    /* border: solid 5px blue; */
}
  
img {
    position: absolute;
    max-width: auto;
    max-height: 150px;
    display: none;
  }
