.darkmode{
    background-color:rgb(0, 0, 0);
    color:beige;
}
.darkmode a {
    color: beige;
}
.darkmode h3 {
    color: green;
}

 .test {
    display: none;
}

.darkmode .test {
    display: block;
}
